// Colors
$mainColor: #F4F4F4;
$txtSecondaryColor: #3AAFA9;
$secondaryColor: #2B7A78;
$whiteColor: #feffff;
$blackColor: #17252A;
$borderColor: #F4F4F4;
$greyColor: #DEF2F1;
$bgColor: #FEFFFF;
$errorColor: #ED4337;

// Spaces
$borderRadiusSM: 10px;
$borderRadiusBASE: 15px;
$borderRadiusCircle: 50%;
$freeSpace: 5px;

